body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 12pt;
    text-align: justify;
}

h1,
h2,
h3 {
    font-family: 'Arial', sans-serif;
    text-align: center;
}

h1,
h2 {
    font-size: 14pt;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 1.5cm;
}

h3 {
    font-size: 12pt;
    font-weight: bold;
    margin-top: 1.5cm;
    margin-bottom: 0.5cm;
}

p {
    margin-bottom: 1.5cm;
    text-indent: 1.25cm;
    line-height: 1.5;
}

ul {
    margin-left: 1.25cm;
    margin-bottom: 1.5cm;
    list-style-type: none;
}

ul li::before {
    content: "-";
    margin-right: 0.5cm;
}